<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置命名空间，指向dao接口-->
<mapper namespace="cn.yukismimi.mapper.AdminMapper">

    <resultMap id="adminMap" type="admin">
        <id column="admin_id"  property="adminId" />
        <result column="admin_name"  property="adminName" />
        <result column="password"  property="password" />
    </resultMap>

    <select id="queryAdmin" resultMap="adminMap">
      SELECT * FROM admin WHERE admin_name = #{adminName}
    </select>


</mapper>