<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置命名空间，指向dao接口-->
<mapper namespace="cn.yukismimi.mapper.BookLabelMapper">

    <resultMap id="bookLabelMap" type="bookLabel">
        <id column="book_id"  property="bookId" />
        <result column="label"  property="label" />
    </resultMap>

    <select id="findLabelByBookId" resultType="String">
      SELECT label FROM book_label WHERE book_id = #{bookId}
    </select>

    <select id="findBookByLabel" resultType="Integer">
      SELECT book_id FROM book_label WHERE label = #{label}
    </select>

    <insert id="addBookLabel">
      INSERT INTO book_label VALUES (
      #{bookId},
      #{label}
      )
    </insert>

    <delete id="removeBookLabel">
      DELETE FROM book_label WHERE book_id = #{bookId} AND label = #{label}
    </delete>

</mapper>