<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置命名空间，指向dao接口-->
<mapper namespace="cn.yukismimi.mapper.FavouriteMapper">

    <resultMap id="favouriteMap" type="favourite">
        <id column="fav_id" property="favId"/>
        <result column="user_id" property="userId"/>
        <result column="book_id" property="bookId"/>
        <result column="add_time" property="addTime"/>
    </resultMap>

    <select id="findFavouriteList" resultMap="favouriteMap">
        SELECT * FROM favourite
        WHERE user_id = #{userId}
        ORDER BY add_time DESC
    </select>

    <insert id="addFavourite">
        INSERT INTO favourite VALUES (
        #{favId},
        #{userId},
        #{bookId},
        #{addTime}
        )
    </insert>

    <delete id="removeFavouriteById">
        DELETE FROM favourite WHERE fav_id = #{favId}
    </delete>

</mapper>